aws {
    accessKey = 'AKIARAB7E3QOHCBLNXOW'
    secretKey = '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'
    region = 'us-east-2'
    profile = '/home/coyote/.aws/config' 
    

    batch {
        // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
        // aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        //cliPath = '/home/ec2-user/miniconda/bin/aws'
        //cliPath =  '/usr/local/bin/aws'
        shareIdentifier = 0
    }

    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
        s3Acl = "BucketOwnerFullControl"
    }

}

aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
docker.enabled = true

cloud {
    // Amazon ECS-optimized Nextflow image with AWS cli
    //imageId = 'ami-06502972b2860f143'
    //imageID = 'ami-027bdac0d5c755ca7'
    imageID = 'ami-0000ed5ee7a0056d6'
    //imageID = 'ami-0bd11209d76b2bedd'
    instanceType = 'm5.large'
    //subnetId = 'subnet-00e6efd849093b92b'
    autoscale {
        enabled = true
        maxInstances = 2
        terminateWhenIdle = true
    }
}


plugins {
    id 'nf-amazon'
}

process.executor = 'awsbatch'
// ec2_env ; Compute environment
process.queue = 'test_queue_ec2'
process.memory = '114 GB'


process {
    withLabel: bcftools {
        executor = 'awsbatch'
        //queue = 'test_queue_ec2'
        container = 'kboltonlab/bst:2.0'
    }

    withLabel: Sample_Alignment {
        executor = 'awsbatch'
        queue = 'test_queue_ec2'
        container = 'oandrefonseca/scaligners:1.0'
    }

    withLabel: filter_vcf {
        executor = 'awsbatch'
        queue = 'test_queue_ec2'
        container = 'kboltonlab/bst:2.0'
    }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  overwrite = true
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}


weblog {
    enabled = true
    url = "http://localhost/nflogs"
}

fusion {
  enabled = true
}

wave {
    enabled = true
}